/* Footer Container */
.footer {
    background-color: blue;
    color: white;
    padding: 40px 0;
    text-align: center;
  }
  
  .footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1430px;
    margin: 0 auto;
    padding: 0 20px;
    align-items: center;
  }
  
  /* Footer Brand */
  .footer-brand {
    flex: 1;
  }
  
  .footer-logo {
    height: 100px;
    width: auto;
  }
  
  /* Footer Links */
  .footer-links {
    display: flex;
    flex: 3;
    justify-content: space-evenly;
  }
  
  .footer-section h4 {
    font-size: 20px;
    margin-bottom: 10px;
  }

  .footer-section h4 a {
    transition: color 0.3s;
  }

  .footer-section h4 a:hover {
    color: #38bdf8; /* Light Blue */
  }
  
  /* Social Media Icons */
  .footer-social {
    display: flex;
    gap: 15px;
  }
  
  .footer-social a {
    color: white;
    font-size: 50px;
    transition: color 0.3s;
  }

  .footer-contact {
    flex: 2;
    justify-content: space-evenly;
    padding-right: 20px;
  }
  
  .footer-social a:hover {
    color: #38bdf8; /* Light Blue */
  }
  
  /* Footer Bottom */
  .footer-bottom {
    margin-top: 20px;
    font-size: 14px;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    padding-top: 10px;
  }